
html, body, .map-container, #map-canvas { 
	height: 100%; margin: 0; padding: 0;
}

.map-container {
	padding:0vh 5vw;
	padding-bottom: 25vh; 
}

.title-logo {
	margin-top:5vh;
	margin-bottom:5vh;
	width:15vw;
}

.no-padding {
	padding: 0;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){
	.title-logo {
		width:40vw;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){
	.title-logo {
		width:30vw;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
	.title-logo {
		width:20vw;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	.title-logo {
		width:15vw;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
	.title-logo {
		width:15vw;
	}
}
